name: Build and package
on:
  push:
    branches:
      - main
      - 12-new-entry
    paths-ignore:
      - "**.md"
      - "**.yaml"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: paulhatch/semantic-version@v5.0.2
        id: version
        with:
          enable_prerelease_mode: true
          major_pattern: "BREAKING"
          minor_pattern: "feat:"
      - run: |
          export VERSION="${{ steps.version.outputs.version }}"
          go generate
      - run: mkdir -p .build
      - uses: crazy-max/ghaction-xgo@v2
        with:
          dest: ${{ env.GITHUB_WORKSPACE }}/.build
          go_version: 1.25.5
          prefix: keydex
          targets: windows/386,windows/amd64,linux/386,linux/amd64,darwin/arm64,darwin/amd64
          v: true
          x: true
      - run: ls ${{ env.GITHUB_WORKSPACE }}/.build
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_unmatched_files: true
          prerelease: ${{ github.ref != 'refs/heads/main' }}
          files: |
            ${{ env.GITHUB_WORKSPACE }}/.build/*
